

	<header>
		<div class="row logo">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				Roy Houston Photography
				<!--<a href="{homepage}">Roy Houston Photography</a>-->
			</div>
		</div>

		<!-- Navigation -->
		<nav class="navbar" role="navigation">
  			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
  			</div>



		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
				<li {if segment_1 == ""}class="active"{/if}><a href="{homepage}" title="Home" accesskey="0">Home</a></li>
				<li {if segment_1 == "prints"} class="active" {/if}><a href="{path=/prints}" title="" accesskey="2">Prints</a></li>
				<li {if segment_1 == "residential-workshops"} class="active" {/if}><a href="{path=/residential-workshops}" title="" accesskey="4">Residential Workshops</a></li>
				<li {if segment_1 == "commercial"} class="active" {/if}><a href="{path=/commercial}" title="" accesskey="5">Commercial</a></li>
				<li {if segment_1 == "news"} class="active" {/if}><a href="{path=/news}" title="" accesskey="3">News</a></li>
				<li {if segment_1 == "biography"} class="active" {/if}><a href="{path=/biography}" title="" accesskey="1">Biography</a></li>
				<li {if segment_1 == "contact"} class="active" {/if}><a href="{path=/contact}" title="" accesskey="6">Contact</a></li>


				<li {if segment_1 == "basket"} class="active" {if:else} class="nright" {/if}><a href="{path=/basket}" title="" accesskey="0">
					{if {exp:cartthrob:unique_items_count}>"0"}
						<span>{exp:cartthrob:cart_info}({total_unique_items}) Basket{/exp:cartthrob:cart_info}</span>
					{if:else}
						Basket
					{/if}</a>
				</li>
		    </ul>
		    <ul class="nav navbar-nav pull-right">
		    <li {if segment_1 == "clients"} class="active" {/if}><a href="{path=/clients}" title="" accesskey="6"><i class="fa fa-lock" ></i> Client Login</a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
		<!--[if lt IE 7]>
        	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    	<![endif]-->
	</header>