{embed="includes/metadata" default_title="Blog" default_keywords="" default_description="" }
{embed="includes/masthead"}


{exp:md_detect_page_type url_segment="{segment_2}"}

        {if segment_2 != ""}


        <section class="row">
                {exp:channel:entries channel="news" cache="no" refresh="60" orderby="date" sort="desc" limit="1" disable="{pv_disable_all}" }
                <section class="col-sm-12 col-lg-12">
                        <div class="page-header">
                                <h1>{title} <small>news</small></h1>
                        </div>
                </section>

                <section class="col-sm-12 col-lg-8">
                    <h3>{entry_date format=' %j%S %F %Y'}</h3>
                    {exp:ce_img:bulk class="img-responsive" filter="auto_sharpen" quality="100" attributes='style="margin: 20px 0; border: 10px solid; border-color: #7e7e7e; border-color: rgba(100,100,100, .3) rgba(100,100,100, .303);"' }{news-story}{/exp:ce_img:bulk}
                </section>
                {/exp:channel:entries}

                <section class="col-sm-12 col-lg-3 col-lg-offset-1">
                    {news-related}
                    {giftvoucher}
                </section>
        </section>


        {if:else}

        <section class="row">
                <section class="col-sm-12 col-lg-12">
                        <div class="page-header">
                                <h1>News <small>whats happening</small></h1>
                        </div>
                </section>

                <section class="col-sm-12 col-lg-8">
                    {exp:channel:entries channel="news" limit="5"}
                            <article class="blog-entry">
                                <h2>{title}</h2>
                                <div class="meta">
                                    <span class="date"><i class="fa fa-calendar"></i> {entry_date format="%F %d, %Y"}</span>
                                    <!-- <span class="comments"><i class="fa fa-comments"></i>4 Comments</span> -->
                                </div>
                                {blog_story}
                            </article>
                        {/exp:channel:entries}
                </section>
                <section class="col-sm-12 col-lg-3 col-lg-offset-1">
                    {exp:ce_img:single src="/assets/img/content/prints/FoyersFalls1w.jpg" alt="{title}" class="img-responsive" hide_relative_path="yes"  }
                </section>
        </section>

        {/if}

{/exp:md_detect_page_type}

{lv_footer}