{preload_replace:my_template_group="basket"}

{embed="includes/metadata" default_title="Checkout" default_keywords="" default_description="" }
{embed="includes/masthead"}

        <section class="row main">
            <section class="col-sm-12 col-md-8 col-lg-8">

            	{if "{exp:cartthrob:total_items_count}" > 0}

                	<h1>Checkout</h1>
			<p>{exp:cartthrob:view_setting store_shipping_estimate="yes"}</p>

                	{exp:cartthrob:checkout_form error_handling="inline" required="first_name" return="basket/order_complete"  role="form" }

			<div class="alert alert-success">
				* All fields are required
			</div>

			{if errors_exist}
			<div class="control-group">
			<script type="text/javascript">
				jQuery(document).ready(function($){
		 			{errors}
						{if field_error}
							$("#{field}").closest(".control-group").addClass("error");
							$("#{field}").after('<span class="help-inline">{error}</span>');
						{/if}
					{/errors}
				});
			</script>
				{errors}
				{if first_error}
				<div class="alert alert-danger">
					<strong>Alert</strong> There are <span class="badge">{error:total_results}</span> error(s). <br />Please correct the errors listed below
				</div>
				{/if}
					<div class="alert alert-info">

						{if field_error}"{field}" - {/if}
						{if global_error}Error{/if}
						{error}

					</div>
				{/errors}
			</div>
			{/if}

			{if {exp:cartthrob:view_setting allow_gateway_selection="yes"}}
			<div class="control-group">
				<label for="gateway" class="control-label">Select a payment method</label>
				<div class="controls">
					{exp:cartthrob:customer_info}{exp:cartthrob:gateway_select id="gateway" selected="{gateway}"}{/exp:cartthrob:customer_info}
				</div>
				</div>
			{/if}

			<div id="checkout_form_gateway_fields">
				{gateway_fields}
			</div>

			{if logged_out}
			<fieldset>
				<legend>Member Registration</legend>
				{exp:cartthrob:customer_info}
				<div class="control-group">
					<label for="gateway" class="control-label">Username</label>
					<div class="controls">
						<input type="text" value="{username}" name="username" />
					</div>
				</div>
				<div class="control-group">
					<label for="gateway" class="control-label">Password</label>
					<div class="controls">
						<input type="password" value="" name="password" />
					</div>
				</div>
				{/exp:cartthrob:customer_info}
			</fieldset>
			{/if}
			<div class="control-group">
				    <div class="form-actions">
				{!-- do not add a name attribute to your submit button if you want it to work with stripe payment gateway --}
				    <button type="submit" class="btn btn-success btn-block">Checkout</button></a>
				</div>
				</div>

                	{/exp:cartthrob:checkout_form}

				{if:else}
	 				<h1>Checkout</h1>
					<p>You have no items in your cart. </p>
					<a href="{path=portfolio}" class="btn btn-primary btn-small">Continue shopping</a>
				{/if}



            </section>

            <section class="col-sm-12 col-md-3 col-lg-3 pull-right">
                <section class="row">
                	<h2>PayPal</h2>
                    {lv_paypal}
                </section>
                <section class="row">
                <h2>UK Postage &amp; Delivery</h2>
							<p>All our prices are quoted in £ sterling. The prices shown on the product pages of this site are inclusive of shipping costs to UK mainland only.  Please contact us for specific shipping costs for destinations outside of the UK. Please note no postage will be charged on Gift Vouchers and Tuition purchases.</p>
							</section>
            </section>

        </section>


{lv_footer}