{preload_replace:template_group="basket"}
{preload_replace:template="index"}

{embed="includes/metadata" default_title="Your Basket" default_keywords="" default_description="" }
{embed="includes/masthead" }




		<section class="row main">
			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<h1>Your Basket</h1>
				<!-- {if "{exp:cartthrob:total_items_count}"==0}<p>You currently have no items in your basket, it's empty.{/if} -->
				{exp:cartthrob:cart_items_info orderby="title"}


					{exp:cartthrob:update_cart_form  return="basket/index"}
						{if first_row}
						<div class="table-responsive">
					    		<table class="table table-striped">
					        		<thead>
							           <tr>
							            <td></td>
										<td>Item</td>
							            <td>Price</td>
							            <td>Qty</td>
							            <td>SubTotal</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
						{/if}
									<tr>
							        		<td><a data-rel="example_group" href="{portfolio-image}" title="{title}">{exp:ce_img:single src="{prints-image}" max="50"  width="50" height="50" alt="{title}" }</a></td>
						                		<td>{title} - {prints-location}<br />{exp:cartthrob:item_options entry_id="{entry_id}" row_id="{row_id}"}{options}{if selected} {option_value}{/if}{/options}{/exp:cartthrob:item_options}</td>
							            	<td>{item_price}</td>
						                		<td><input type="text" name="quantity[{row_id}]" size="2" value="{quantity}" /></td>
						                		<td>{item_subtotal}</td>
										<td><a href="{path=basket/delete_item/{row_id}}"><i class="fa fa-trash-o"></i></a></td>
						            	</tr>
						{if last_row}
								</tbody>
								<tfoot>
							      	<tr>
							        		<td colspan="4" class="text-right">
							        			<p>Subtotal:<br />
							        			Postage Costs:<br />
											Subtotal Plus Postage:<br />
											Discount: <br />
						                    		Total:</p>
						                		</td>
							        		<td colspan="2">
											<p>{cart_subtotal}<br />
											{cart_shipping}<br />
											{exp:cartthrob:cart_subtotal_plus_shipping}<br />
											{cart_discount}<br />
						                    		{cart_total}</p>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>

						<section class="row">
							<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 basketbuttons">
								<section class="row">
									<section class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
										<button value="submit" type="submit" class="btn btn-default btn-block" name="clear_cart">Empty Basket</button>
									</section>
									<section class="col-xs-12 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-6">
										<button type="submit" class="btn btn-default btn-block" name="update_cart">Update Basket</button>
									</section>
									<section class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
										<a href="/basket/checkout/"><button type="button" class="btn btn-success btn-block">Proceed to Checkout</button></a>
									</section>
								</section>
							</section>
						</section>

					 {/exp:cartthrob:update_cart_form}




					{/if}
					{/exp:cartthrob:cart_items_info}



					<section class="row">

						<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h2>UK Postage &amp; Delivery</h2>
							<p>All our prices are quoted in £ sterling. The prices shown on the product pages of this site are inclusive of shipping costs to UK mainland only.  Please contact us for specific shipping costs for destinations outside of the UK. Please note no postage will be charged on Gift Vouchers and Tuition purchases.</p>
						</section>

						<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						</section>


					</section>


			</section>


		</section>

{lv_footer}
