{preload_replace:my_template_group="basket"}

{embed="includes/metadata" title="Order Status" keywords="" description="" }
{embed="includes/masthead"}

		<section class="row main">
			<section class="col-sm-12 col-md-8 col-lg-8">

				{exp:cartthrob:submitted_order_info}

				        {if authorized}
				        	<h1>Thank you for your order!</h1>
				        	<p>You will shortly receive an email with your order details and any other information relating to your order.</p>
				            <p>Your transaction is complete!<br />
				            Transaction ID: {transaction_id}<br />
				            Your total: &pound;{cart_total}<br />
				            Your order ID: {order_id}</p>
				        {if:elseif processing}
				        	<h1>Your Order</h1>
				            <p>Your Order is Currently being processed: {error_message}<br />
				            Transaction ID: {transaction_id}<br />
				            <br />Order processing is generally completed within 48 hours depending on your payment method.</p>
				        {if:elseif declined}
				        	<h1>Your Order!</h1>
				            <p>Your credit card was declined: {error_message}
				            <br /><a href="{path={template_group}/checkout}">Try checking out again &raquo;</a></p>
				        {if:elseif failed}
				        	<h1>Your Order</h1>
				            <p>Your payment failed: {error_message}
				            <br /><a href="{path={template_group}/checkout}">Try checking out again &raquo;</a></p>
				        {/if}

				{/exp:cartthrob:submitted_order_info}

			</section>
			<section class="col-sm-12 col-md-3 col-lg-3 pull-right">
			</section>
		</section>

{lv_footer}