<section class="row">
	<section class="col-lg-6">

		<fieldset class="billing" id="billing">
		<legend>Billing Info</legend>

		<div class="form-group">
			<label for="first_name">First Name</label>
			<input type="text" name="first_name" value="" id="first_name" class="form-control" />
		</div>

		<div class="form-group">
			<label for="last_name">Last Name</label>
			<input type="text" name="last_name" value="" id="last_name" class="form-control" />
		</div>

		<div class="form-group">
			<label for="address">Address</label>
			<input type="text" name="address" value="" id="address" class="form-control" />
		</div>

		<div class="form-group">
			<label for="address2">Address 2</label>
			<input type="text" name="address2" value="" id="address2" class="form-control" />
		</div>

		<div class="form-group">
			<label for="city">City</label>
			<input type="text" name="city" value="" id="city" class="form-control" />
		</div>

		<div class="form-group">
			<label for="zip">Zip</label>
			<input type="text" name="zip" value="" id="zip" class="form-control" />
		</div>
		<div class="form-group">
			<label for="country_code">Country</label>
			<select name="country_code" id="country_code" class="form-control">
				<option value="GBR" selected="selected">United Kingdom</option>
			</select>
		</div>
		<div class="form-group">
			<label for="company">Company</label>
			<input type="text" name="company" value="" id="company" class="form-control" />
		</div>
		</fieldset>
	</section>


	<section class="col-lg-6">
		<fieldset class="shipping" id="shipping">
		<legend>Shipping</legend>

			<div class="form-group">
				<label for="shipping_first_name">Shipping First Name</label>
				<input type="text" name="shipping_first_name" value="" id="shipping_first_name" class="form-control" />
			</div>
			<div class="form-group">
				<label for="shipping_last_name">Shipping Last Name</label>
				<input type="text" name="shipping_last_name" value="" id="shipping_last_name" class="form-control" />
			</div>
			<div class="form-group">
				<label for="shipping_address">Shipping Address</label>
				<input type="text" name="shipping_address" value="" id="shipping_address" class="form-control" />
			</div>
			<div class="form-group">
				<label for="shipping_address2">Shipping Address (line 2)</label>
				<input type="text" name="shipping_address2" value="" id="shipping_address2" class="form-control" />
			</div>
			<div class="form-group">
				<label for="shipping_city">Shipping City</label>
				<input type="text" name="shipping_city" value="" id="shipping_city" class="form-control" />
			</div>

			<div class="form-group">
				<label for="shipping_zip">Shipping Postcode</label>
				<input type="text" name="shipping_zip" value="" id="shipping_zip" class="form-control" />
			</div>
			<div class="form-group">
				<label for="shipping_country_code">Shipping Country</label>
				<select name="shipping_country_code" id="shipping_country_code" class="form-control">
					<option value="GBR" selected="selected">United Kingdom</option>
				</select>
			</div>

		</fieldset>
	</section>
</section>


<section class="row addinfo">
	<section class="col-lg-12">
	<legend>Additional Info</legend>
	</section>
	<section class="col-lg-6">
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="text" name="phone" value="" id="phone" class="form-control" />
		</div>
	</section>
	<section class="col-lg-6">
		<div class="form-group">
			<label for="email_address">Email Address</label>
			<input type="text" name="email_address" value="" id="email_address" class="form-control" />
		</div>
	</section>
</section>