<?php
    header("Content-type: application/vnd.ms-excel");
    header("Content-Disposition: attachment; filename=orders.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
?>
    <table border="1">
    <thead>
    <tr>
        <th>Order No.</th>
        <th>Date</th>
        <th>Customer name</th>
        <th>Customer email</th>
        <th>Customer phone</th>
        <th>Items</th>
        <th>Discount coupon</th>
        <th>Discount value</th>
        <th>Tax</th>
        <th>Total</th>
        <th>Notes</th>
        <th>Billing address</th>
        <th>Shipping address</th>
        <th>Status</th>
        <th>Transaction ID</th>
        <th>Customer IP</th>
        <th>Error message</th>
    </tr>
    </thead>
    <tbody>
    {exp:channel:entries channel="orders" status="not closed|closed" allow_future_entries="yes" orderby="entry_id" sort="asc"}
    <tr>
    <td>{title}</td>
    <td>{entry_date format="%d %M %Y"}</td>
    <td>{order_customer_name}</td>
    <td>{order_customer_email}</td>
    <td>{order_customer_phone}</td>
    <td>
        {order_items}
        {item:quantity} x {item:title} @ {item:price} each<br />
        {/order_items}
    </td>
    <td>{order_coupon}</td>
    <td>{order_discount}</td>
    <td>{order_tax}</td>
    <td>{order_total}</td>
    <td>{order_notes}</td>
    <td>{order_full_billing_address}</td>
    <td>{order_full_shipping_address}</td>
    <td>{status}</td>
    <td>{order_transaction_id}</td>
    <td>{order_customer_ip}</td>
    <td>{order_error}</td>
    </tr>
    {/exp:channel:entries}
    </tbody>
    </table>  