{preload_replace:template_group="cart"}
{preload_replace:template="shipping"}
 
{embed="{template_group}/.header" title="Shipping" template_group="{template_group}" template="{template}" }
 
</head>
<body>
	<div id="container">
		<div id="main">
			{embed="{template_group}/.store_header" template_group="{template_group}" template="{template}"}
			{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
				<div class="product">

					<div class="left_column">
						<h1>Set Shipping</h1>
 						
						<div id="checkout_header">
							<div id="checkout_totals">
								<table>
									<tr>
										<td><span class="sale_price">Total</span></td>
										<td><span class="sale_price"><span class="cart_total">{exp:cartthrob:cart_total}</span></span></td>
									</tr>							
									<tr>
										<td>Subtotal</td>
										<td><span class="cart_subtotal">{exp:cartthrob:cart_subtotal}</span></td>
									</tr>
									<tr>
										<td>Shipping</td>
										<td><span class="cart_shipping">{exp:cartthrob:cart_shipping}</span></td>
									</tr>
									<tr>
										<td>Tax</td>
										<td><span class="cart_tax">{exp:cartthrob:cart_tax}</span></td>
									</tr>
									<tr>
										<td>-Discount</td>
										<td><span class="cart_discount">{exp:cartthrob:cart_discount}</span></td>
									</tr>
								</table>
 							</div>
							<div id="checkout_notes">
								<p>Expected shipping time 
								is 3-7 days<br /><br />

								*All fields are required</p>
							</div>
							<div class="clear_both"></div>
						</div>
						
						{exp:cartthrob:save_customer_info_form 
					        id="myform_id" 
					        return="{template_group}/checkout" 
					        }
							{exp:cartthrob:customer_info}
								<fieldset>
								<label for="first_name">First Name: </label>
								<input type="text" id="first_name" name="first_name" value="{customer_first_name}" /><br />
								
								<label for="last_name">Last Name: </label>
								<input type="text" id="last_name" name="last_name" value="{customer_last_name}" /><br />
								
								<label for="email_address">Email Address:</label>
								<input type="text" id="email_address" name="email_address" value="{customer_email_address}" /><br />
								
								<label for="state">State:</label>
								{exp:cartthrob:state_select name="state" id="state" selected="{customer_state}"}<br />

								<label for="country_code">Country:</label>
								{exp:cartthrob:country_select name="country_code" id="country_code" selected="{customer_country_code}"}<br />
								
								<label for="zip">Zip:</label>
								<input type="text" name="zip" id="zip" value="{customer_zip}" /><br />
								</fieldset>
							{/exp:cartthrob:customer_info}

							{exp:cartthrob:get_shipping_options}

					        <br />
					        <input type="submit" value="Checkout &raquo; " />
					    {/exp:cartthrob:save_customer_info_form}
					

					</div>
					<div class="right_column">
					{exp:cartthrob:cart_items_info limit="1" order_by="entry_id" sort="desc"}
 						{embed="{template_group}/.right_column" entry_id="{entry_id}" template_group="{template_group}" template="{template}"}
					{/exp:cartthrob:cart_items_info}
					</div>
					<div class="clear_both"></div>
				</div>
 				{embed=cart/.footer_nav template="{template}" template_group="{template_group}"}
  		</div>
	</div>
		
{embed=cart/.footer}