{embed="includes/metadata" default_title="Biography" default_keywords="" default_description="" }
{embed="includes/masthead" }


        <section class="row">
                <section class="row homeimage">
                <section class="col-sm-12 spacer-bottom">
                        {exp:channel:entries channel="prints" limit="1" orderby="random"  disable="{pv_disable_all}" status="" }
                            {exp:ce_img:single src="{prints-image}" alt="{title}" class="img-responsive" hide_relative_path="yes"  }
                            <p><a href="{title_permalink="prints/"}"><i class="fa fa-link"></i> &nbsp; {title}</a></p>
                        {/exp:channel:entries}
                </section>
            </section>
                <section class="col-sm-12 col-lg-12">
                        <div class="page-header">
                                <h1>Finishing Techniques <small></small></h1>
                        </div>
                </section>
                <section class="col-sm-12 col-md-12">
                        {lv_finishing}
                </section>
                <!-- <section class="col-sm-12 col-lg-3 col-lg-offset-1">
                        <div class="row">
                <div class="col-sm-12 col-md-12">
                    <ul class="nav nav-pills nav-stacked">
                        <li {if segment_2 == "" }class="active"{/if}><a href="{path=/residential-workshops}">Return to the Edition Print</a></li>
                    </ul>
                </div>
            </div>
                </section> -->
    </section>

{lv_footer}