{preload_replace:my_channel="prints"}
{preload_replace:my_template_group="prints"}
{exp:gwcode_haschildren:check cat_url_title="{segment_3}"}

{exp:md_detect_page_type url_segment="{segment_2}"}
	{if category_page}
		{exp:channel:category_heading channel="{my_channel}" limit="1" }{embed="includes/metadata" default_title="{category_name}" title_postfix="&nbsp;| Prints"}{/exp:channel:category_heading}
	{if:else}
		{embed="includes/metadata" default_title="Prints" default_keywords="" default_description="" }
	{/if}
{/exp:md_detect_page_type}
{embed="includes/masthead" }

	<!-- Start of main row -->
	<section class="row">

	{exp:md_detect_page_type url_segment="{segment_2}"}

		<!-- start of page detect -->
		{if category_page}

			{exp:channel:category_heading channel="{my_channel}" }
			<section class="col-sm-12 col-md-12">
				<div class="page-header">
					<h1>{category_name} <small>the editions</small></h1>
				</div>
			</section>
			<section class="col-sm-12">
			{if category_description}<p>{category_description}</p>
			{if:else}
			<p>{lv_prints_intro}</p>
			{/if}
			{/exp:channel:category_heading}

			<section class="row print">
				{exp:channel:entries channel="{my_channel}" orderby="date" limit="12" sort="desc" status="open"}
				<section class="col-sm-6 col-md-3 col-lg-3 text-center">
					<section class="thumbnail prints">
						<a href="{title_permalink="prints/"}">{exp:ce_img:single src="{prints-image}" alt="{title}" hide_relative_path="yes" class="img-responsive" }</a>
						<section class="caption">
							<h2><a href="{title_permalink="prints/"}">{title}</a></h2>
							<p>{prints-location}</p>
						</section>

					</section>
				</section>
				{lv_pagination}
				{/exp:channel:entries}
			</section>

		{if:elseif pagination_page OR segment_2 == ""}

			<section class="col-sm-12 col-md-12">
				<div class="page-header">
					<h1>Prints <small>the editions</small></h1>
				</div>
			</section>

			<section class="col-sm-12 col-md-12">
				<p class="lead">{lv_prints_intro}</p>

				<section class="row ">
					{exp:gwcode_categories channel="{my_channel}" style="linear" entry_count="yes" depth="1" min_depth="1" parse="inward" show_empty="no"}
					<section class="col-sm-6 col-md-6 text-center">
						<section class="thumbnail category">
							<section class="caption">
								{exp:channel:entries dynamic="off" channel="{my_channel}" category="{cat_id}" orderby="random" sort="asc" limit="1"  status="open" disable="{pv_disable_all}" }
								<a href="{path="prints/category/{cat_url_title}"}" title="{title}">{exp:ce_img:single src="{prints-image}" alt="{title}" class="img-responsive" hide_relative_path="yes" crop="yes" width="530" height="350"  }</a>
								{/exp:channel:entries}
								<h2><a href="{path="prints/category/{cat_url_title}"}" title="{title}">{cat_name}</a></h2>
								<p>( {entry_count} images in collection )</p>
								<p>{cat_description}</p>
							</section>
						</section>
					</section>
					{/exp:gwcode_categories}
				</section>

			</section>

		{if:else}

			{exp:channel:entries channel="{my_channel}" orderby="date"  sort="desc" limit="1" disable="{pv_disable_notcat}" status="open|homepage"}

			{exp:stash:set parse_tags="yes"}
				{stash:content}
					{exp:gwcode_categories entry_id="{entry_id}" style="linear" last_only="yes"}
						{stash:st_category_id}{cat_id}{/stash:st_category_id}
						{stash:st_category_name}{cat_name}{/stash:st_category_name}
						{stash:st_category_url}{cat_url_title}{/stash:st_category_url}
					{/exp:gwcode_categories}
				{/stash:content}
			{/exp:stash:set}

			<section class="col-sm-12">
				<section class="row"><!-- Main column divided -->

					<section class="col-xs-12 col-sm-12 col-md-8">
						<section class="row spacer-bottom">
							<section class="col-xs-12 col-sm-12 col-md-12">
								{exp:ce_img:pair src="{prints-image}" alt="{title}" class="img-responsive" }
								<a data-rel="example_group" href="{made}">{exp:ce_img:single src="{prints-image}" class="img-responsive" alt="" }</a>
								{/exp:ce_img:pair}
							</section>
						</section>
					</section>

					<!-- Start of right column -->
					<section class="col-xs-12 col-sm-12 col-md-3 pull-right">
						<h1>{title}</h1>
						<p>Location: {prints-location}
						<br />Ref: {prints-ref}</p>
						<p>from <span class="price">{prints-price}</span></p>
						<p>{if prints-description}
							{prints-description}
							{/if}
						</p>

						<div class="spacer-top-small spacer-bottom-small">
							{exp:cartthrob:add_to_cart_form  entry_id="{entry_id}" class="addbasket" return="/prints/{url_title}" role="form" }
								{exp:cartthrob:item_options entry_id="{entry_id}"}
								<section class="form-group">
									{select class="form-control"}
									{if option_first_row}
									<option value="selected">Please choose your print option</option>
									{/if}
									<option {selected} value="{option_value}">{option_name} {exp:cartthrob:arithmetic operator="+" num1="{prints-price}" num2="{price}"}</option>
									{/select}
								</section>
								{/exp:cartthrob:item_options}
								<button type="submit" id="purchase" class="btn btn-success btn-block" data-loading-text="Adding to Basket...">Add this print to your basket</button>
							{/exp:cartthrob:add_to_cart_form}
						</div>
						<p class="text-center"><span id="postage" ><i class="fa fa-info-circle" ></i>&nbsp; Pricing info</span> | &nbsp;<span id="sizes"><i class="fa fa-info-circle" ></i>&nbsp; Other sizes</span>
						<br /><span id="prints"><i class="fa fa-info-circle" ></i>&nbsp; Print info</span></p>


						<a href="{path=/gift-vouchers}" ><button type="button"  class="btn btn-default btn-block" data-loading-text="Adding to Basket...">Buy a Gift Voucher</button></a>
						<!-- <p>Gift Vouchers can be purchased towards the cost of any prints or workshop places currently offered on Roy Houston Photography website.</p> -->



						<section class="row spacer-top spacer-bottom-small">
	                        		{exp:stash:parse parse_depth="2"}
	                        			{exp:bbr_prevnext_entry current_url_title="{url_title}" category="{stash:st_category_id}" channel_id="3" order_by="entry_date" sort="desc" cycle="no" status="open" return_fields="url_title"}
	                        			<section class="col-xs-12 col-sm-6 col-md-6">
	                            				{if "{empty_prev}" == "yes"}<button type="button" disabled="disabled" class="btn btn-default btn-block"><i class="fa fa-arrow-circle-left fa-lg"></i> Previous</button>
	                            				{if:else}<a class="prev" href="/prints/{prev_url_title}/"><button type="button" class="btn btn-default btn-block"><i class="fa fa-arrow-circle-left fa-lg"></i> Previous</button></a>{/if}
	                        			</section>
	                        			<section class="col-xs-12 col-sm-6 col-md-6">
	                            				{if "{empty_next}" == "yes"}<button type="button" disabled="disabled" class="btn btn-default btn-block">Next <i class="fa fa-arrow-circle-right fa-lg"></i></button>
	                            				{if:else}<a class="next" href="/prints/{next_url_title}/"><button type="button" class="btn btn-default btn-block">Next <i class="fa fa-arrow-circle-right fa-lg"></i></button></a>{/if}
	                        			</section>
	                        			{/exp:bbr_prevnext_entry}
	                        		{/exp:stash:parse}
                    			</section>

                    			<section class="row spacer-bottom-small">
                        			<section class="col-xs-12 col-sm-12 col-md-12">
                            				<a href="/prints/category/{exp:stash:st_category_url}"><button type="button" class="btn btn-default btn-block"><i class="fa fa-arrow-circle-left fa-lg"></i> &nbsp; Back to collection</button></a>
                        			</section>
                    			</section>

					</section>
					<!-- / End of right column -->

				</section><!-- /Main column divided -->

				<div class="well spacer-top">
						<div class="row">
							<section class="col-xs-12 col-md-6">
								<h3>Printing Finishing Techniques</h3>
								<p>{lv_printing_techniques}</p>
							</section>

						<section class="col-xs-12 col-md-6">
							<h3>Digital Files</h3>
							<p>{lv_digitalfiles}</p>
						</section>
				</div>
				<!-- / end of row -->

			</section>
			{/exp:channel:entries}

		{/if}
		<!-- / end of page detect -->

	{/exp:md_detect_page_type}

	</section>
	<!-- / end of first main row -->

{lv_footer}