{preload_replace:my_channel="prints"}
{preload_replace:my_template_group="prints"}


{embed="includes/metadata" title_override="" default_keywords="" default_description="" }
{embed="includes/masthead"}


        <section class="row">
            {exp:channel:entries channel="{my_channel}" orderby="date" cache="yes" refresh="30" sort="desc" limit="1" disable="{pv_disable_notcat}" status="open|homepage"}
            <section class="col-sm-12 col-lg-12">
                    <div class="page-header">
                        <h1>{title} <small>Location</small></h1>
                    </div>
            </section>

            <section class="col-sm-12">
                <section class="row"><!-- Main column divided -->
                    <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                        <section class="row spacer-bottom">
                            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {exp:ce_img:pair src="{prints-image}" alt="{title}" class="img-responsive" }
                                    <a data-rel="example_group" href="{made}">{exp:ce_img:single src="{prints-image}" class="img-responsive" alt="" }</a>
                                {/exp:ce_img:pair}
                            </section>
                        </section>

                        <p><i class="fa fa-arrows fa-lg" ></i> For sizes or format options not listed, just email us with your requirements and we will provide a specific price.</p>
                    </section>

                    <section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">

                        <p>{prints-description}</p>
                        <p>Our prints are supplied on the finest quality papers available on the market today. Prints can be supplied (mounted only) in museum standard archival mounts or framed in a natural ash or a smooth black frame. The mount is signed and numbered on the front.</p>
                        <p>Prices shown are in Pound’s Sterling (£) and include postage to addresses within the UK. If you require postage overseas please contact us by email and we will reply with an accurate shipping quote.</p>

                        <section class="row">
                            <section class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <h3>Purchase this print</h3>
                                {exp:cartthrob:add_to_cart_form  entry_id="{entry_id}" class="addbasket" return="/prints/print/{url_title}" role="form" }
                                    {exp:cartthrob:item_options entry_id="{entry_id}"}
                                        <section class="form-group">
                                        <label>{option_label} &nbsp; <i class="fa fa-info-circle" data-toggle="modal" data-target="#myModal"></i></label>
                                        {select class="form-control"}
                                        {if option_first_row}
                                        <option value="selected">Please choose your print option</option>
                                        {/if}
                                        <option {selected} value="{option_value}">{option_name} {price}</option>
                                        {/select}
                                        </section>
                                    {/exp:cartthrob:item_options}
                                    <button type="submit" id="purchase" class="btn btn-default btn-block" data-loading-text="Adding to Basket...">Add Print to Basket</button>
                                {/exp:cartthrob:add_to_cart_form}
                            </section>

                        </section>
                        <section class="row bcnav">
                            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <a href="/prints/category/"><button type="button" class="btn btn-default btn-block"><i class="fa fa-arrow-circle-left fa-lg"></i> &nbsp; Back to XXXXX collection</button></a>
                            </section>
                        </section>
                    </section>

                </section><!-- /Main column divided -->


                <section class="row spacer-top">
                    <section class="col-xs-12 col-sm-3">
                        <h3>Digital Files</h3>
                        <p>If you would like buy an image as a digital file for publication in print or on a website please <a href="mailto:info@etheya.com?subject=prints%20Enquiry%20&mp;body=I%20would%20just%20like%20to%20enquire%20about">send an email</a> with your contact details and intended usage and we can agree the fees and licence terms prior to publication. </p>
                    </section>

                    <section class="col-xs-12 col-sm-3">
                        <h3>PayPal</h3>
                        <p>See the Terms and Conditions for details of delivery arrangements and any other charges.</p>
                        <p>Secure payment can be made with all credit and debit cards. Don't worry if you don't have a PayPal account, just follow the 'Don't have a PayPal account?' link on the left hand side of the PayPal checkout page.</p>
                    </section>
                    <section class="col-xs-12 col-sm-3">
                        <h3>Gift Vouchers</h3>
                        <p>If you would like buy an image as a digital file for publication in print or on a website please <a href="mailto:info@etheya.com?subject=prints%20Enquiry%20&mp;body=I%20would%20just%20like%20to%20enquire%20about">send an email</a> with your contact details and intended usage and we can agree the fees and licence terms prior to publication. </p>
                    </section>
                    <section class="col-xs-12 col-sm-3">
                        <h3>Printing Finishing Techniques</h3>
                        <p>We use the very best materials to  produce and finish all of our prints. See details of the techniques we use. Come on a day course if you would like to learn how to finish your own prints</p>
                    </section>
                </section>



            </section>
            {/exp:channel:entries}
        </section><!-- End of Row Main -->

{global_footer}