{preload_replace:my_channel="portfolio"}
{preload_replace:my_template_group="portfolio"}

{embed="includes/metadata" default_title="Search Results | Portfolio" default_keywords="" default_description="" }
{embed="includes/masthead" main_image="" main_image_title=""}

        <section class="row main">
            <section class="col-sm-12 col-md-12 col-lg-12">
                <h1>Portfolio <small>Search Results</small></h1>

                {exp:low_search:results query="{segment_3}" limit="20" status="not closed" paginate="bottom"}
                {if count ==  1}
                <p>Found {absolute_results} prints in the portfolio containing the keywords "{exp:low_search:keywords}"</p>
                {/if}


                <section class="col-sm-6 col-md-3 col-lg-3 prints">
                    <section class="thumbnail">
                        <a href="{title_permalink="portfolio/print"}">
                        {if portfolio-image != ""}
                        {exp:ce_img:single src="{portfolio-image}" alt="{title}" hide_relative_path="yes" class="img-responsive" }
                        {if:else}
                        {exp:ig_picpuller:media user_id='1' media_id='{portfolio-instagram}' use_stale_cache='yes'}
                            <img src="{ig_standard_resolution}" alt="{title}" class="img-responsive" />
                        {/exp:ig_picpuller:media}
                        {/if}
                        </a>

                        <section class="caption">
                            {if portfolio-new != ""}<div class="newsm"></div>{/if}
                            <h2>{title}</h2>
                            <p>{portfolio-location}</p>
                        </section>
                    </section>
                </section>

                {if count == total_results}{/if}

                {if no_results}
                <p>Sorry there are no prints containing the following keywords "{exp:low_search:keywords}". Please search again with a different keyword(s)</p>

                <section class="row text-center psearch">
                    {search-portfolio}
                </section>
                {/if}


            {pagination_links}
            {/exp:low_search:results}


            </section>
        </section>

{lv_footer}


