{embed="includes/metadata" default_title="404Error" default_keywords="404error, page not found" default_description="Sorry, but the page you are looking for has not been found or the URL has changed. Try checking the URL for errors, then hit the refresh button" }
{embed="includes/masthead" }


		<section class="row main">
			<section class="col-sm-12 col-md-8 col-lg-8">
				<h1>404: Page not Found <small></small></h1>

				<p>Sorry, but the page you are looking for has not been found or the URL has changed. Try checking the URL for errors, then hit the refresh button or try one of the possible links below;</p>

				{exp:ss_friendly_404 limit="10"}
			{if count == 1}<h3>Perhaps you were looking for</h3>
			<ul id="ul-error">{/if}
				<li><a href="{auto_path}">{title}</a></li>
				{if count == total_results}
			</ul>
			{/if}
			{/exp:ss_friendly_404}
			</section>
			<section class="col-sm-12 col-md-3 col-lg-3 pull-right">

			</section>
		</section>

{lv_footer}




