<p>&nbsp;</p>

<h2>Artist Statement</h2>

<p><span style="line-height: 1.6em;">Passion is defined as &lsquo;a strong enthusiasm or emotion&rsquo;. In the landscape such emotions are made possible by the fall of light as the landscape absorbs and reflects light in all of its diversities. Through the change of season and the time of day, the natural materials of our ever-changing environment create endless opportunity for &lsquo;enthusiasm and emotion&rsquo;.</span><span style="line-height: 1.6em;">&nbsp; </span><span style="line-height: 1.6em;">All of this has driven me through my years of application of the photographic process to assess and convey how emotion can be visualised in a photographic image. I have endeavoured to explore everything that can develop &lsquo;the image&rsquo;, by digital and analogue techniques, to a level of understanding that I can share with others whose passion to learn draws them to the same goals I have.</span></p>

<p><span style="line-height: 1.6em;">I have had a lifelong association with the West Highlands of Scotland and have lived in the Glencoe area for over twenty years. Landscape here starts at the doorstep and my &lsquo;passion&rsquo; is to explore and enjoy it, through photography, whilst continuing my unending process of learning. Sharing my experience and knowledge with others is something I have been doing for many years through formative teaching and is now offered as an experience for you to share with us in one of the most beautiful parts of the world.</span><span style="line-height: 1.6em;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>

<h2>Beginnings</h2>

<p>My Grandfather gave me a simple camera that I used to record a trip I made with a close friend across Canada. That was in 1974 and upon my return I knew I wanted to study photography. After completing an HND in Glasgow, I spent a year working as a medical photographer before moving to a Government industrial research establishment. In the mid 90&rsquo;s the Lab was closed, however by that time I had gained a sound experience and knowledge of photographing subjects as diverse as large-scale industrial installations, small-scale droplets at high speed, aerial images from helicopters and Royal walkabouts.</p>

<p><span style="line-height: 1.6em;">Self-employment followed and having had the opportunity to work with advanced techniques in specialist applications, my skills were well suited to service the needs of commercial clients in a wide range of industries.</span></p>

<p><span style="line-height: 1.6em;">My association with teaching began in 1996. Education enabled me to share my experience with students embarking on their own career and as a result reinforced my own knowledge through the process of continued research and development of new and established techniques. During this time I completed a Degree in &lsquo;Teaching in Further Education&rsquo; and graduated with merit. The introduction and progression of digital technology has enhanced my skills beyond the analogue techniques originally studied. My understanding of digital image processing and current software has been established through both professional work and the development of teaching material within Scottish Further Education. In 2012 I left Further Education to establish new commercial ventures including personal teaching workshops.</span></p>

<p><span style="line-height: 1.6em;">My vocation now is to pass my knowledge, gained throughout a diverse career, to others through a unique personal teaching experience.</span></p>
