<div class="row spacer-top">
	<div class="col-sm-12 col-md-12">
		<h3>Book time with Roy</h3>
		<p>{lv_bookingtext}</p>
		<button type="button" class="btn btn-success btn-block">Book  a workshop</button>
	</div>
</div>