</div><!-- /end of main container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <p>The names and logos for Roy Houston Photography are registered trademarks of Roy Houston Photography. All text and design is &copy;{current_time format="%Y"} Roy Houston Photography. All rights reserved.</p>
                <p><a href="{path=/privacy-policy}" title="Privacy Policy">Privacy Policy</a> <i class="fa fa-info-circle fa-fw"></i> | <a href="{path=/legal-disclaimer}" title="Legal Disclaimer">Legal/Disclaimer</a> <i class="fa fa-legal fa-fw"></i> | <a href="{path=/terms-and-conditions}">Terms and Conditions</a> <i class="fa fa-book fa-fw"></i>
                <p><a href="http://www.etheya.com">Design &amp; Build by Etheya</a> <i class="fa fa-link fa-fw"></i></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 text-right">
                <p>Mobile: {lv_mobile}
                <br />Office: {lv_telephone}
                <br /><a href="mailto:{lv_emailaddress}">{lv_emailaddress}</a></p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right">
                <p><a href="http://www.facebook.com/" title="Join me on Facebook" ><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="http://www.twitter.com/" title="Follow me on twitter"><i class="fa fa-twitter-square fa-2x"></i></a></p>

            </div>
        </div>
    </div>
</footer>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>

<!-- Tracking Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{lv_googlecode}', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>