<section class="row">
    <section class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
    <h3>Gift Vouchers</h3>
    <p>{lv_giftvouchers_text}</p>
    <a href="{path=gift-vouchers}"><button type="submit" class="btn btn-default btn-block">Buy Gift Voucher</button></a>
    </section>
</section>