        <h3>Join the Mailing List</h3>
        <p>{lv_mailinglist_text}</p>
        <form action="http://etheya.createsend.com/t/r/s/tkhdkri/" method="post" id="subForm" role="form">
            <div class="form-group">
                <input type="text" class="form-control" name="cm-name" placeholder="Your name" id="name-ml" />
            </div>
            <div class="form-group">
                <input type="email" name="cm-tkhdkri-tkhdkri" id="cm-tkhdkri-tkhdkri" placeholder="Your email address" class="form-control" /></p>
            </div>

            <button type="submit" class="btn btn-default btn-block"><i class="fa fa-check-circle"></i> Subscribe now</button>
        </form>