<div class="row spacer-top">
				<div class="col-xs-12 col-sm-6 col-md-12">
					<h3>Testimonials</h3>
					{exp:channel:entries channel="testimonials" limit="1" orderby="random"}
					<blockquote>{testimonial}
						<small>{testimonee}</small>
					</blockquote>
					{/exp:channel:entries}
				</div>

			</div>