<p>Roy spent many years associated with one of Scotland&rsquo;s top colleges teaching all aspects of professional photography whilst continuing to work commercially.</p>

<p>As the transition to digital began we embraced the new technology and developed teaching techniques to reflect a new age in photography.</p>
