<div class="row">
                <div class="col-sm-12 col-md-12">
                    <ul class="nav nav-pills nav-stacked">
                        <li {if segment_2 == "" }class="active"{/if}><a href="{path=/residential-workshops}">Introduction</a></li>
                        <li {if segment_2 == "workshops" }class="active"{/if}><a href="{path=/residential-workshops/workshops}">The Course</a></li>
                        <li {if segment_2 == "faq" }class="active"{/if}><a href="{path=/residential-workshops/faq}">FAQ's</a></li>
                        <li {if segment_2 == "booking" }class="active"{/if}><a href="{path=/residential-workshops/booking}">Make a Booking</a></li>
                    </ul>
                </div>
            </div>