<p>Roy has worked as a professional photographer for much of his working life and as a teacher of the subject whilst continuing professional practice.</p>

<p>The British Institute of Professional Photography has twice awarded Roy&rsquo;s skills, and in 2010 Roy gained a degree in Teaching in Further Education.</p>
