{embed="includes/metadata" default_title="Gift Vouchers" default_keywords="photography tuition gift vouchers, landscape photography gift vouchers, limited edition print gift vouchers" default_description="Gift vouchers are available in a number of denominations" }
{embed="includes/masthead" }

		<section class="row">
			<section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<h1>Gift Vouchers</h1>

				{lv_giftvoucher_intro}


				{exp:channel:entries channel="gift_voucher"}
				<section class="row">
					<section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

						{exp:cartthrob:add_to_cart_form entry_id="{entry_id}" return="/gift-vouchers" no_shipping="yes" }
						{exp:cartthrob:item_options entry_id="{entry_id}" }
								<section class="form-group">
									{select class="form-control"}
									{if option_first_row}
									<option value="selected">Please choose your value of gift voucher</option>
									{/if}
									<option {selected} value="{option_value}">{option_name}</option>
									{/select}
								</section>
								{/exp:cartthrob:item_options}



						<button type="submit" id="purchase" class="btn btn-primary btn-block" data-loading-text="Adding to Basket...">Add Voucher to Basket</button>
						{/exp:cartthrob:add_to_cart_form}
					</section>
				</section>
				{/exp:channel:entries}
			</section>

			<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">
			</section>
		</section>

{lv_footer}