{embed="includes/metadata" title_override="Roy Houston Photography" default_keywords="" default_description="" }
{embed="includes/masthead"}

	<div class="row main">
		<div class="col-xs-12 col-sm-12 text-center">

			<div class="row homeimage">
				<div class="col-sm-12 spacer-bottom">
					{exp:channel:entries channel="prints" limit="1" orderby="random"  disable="{pv_disable_all}" status="" }
						{exp:ce_img:single src="{prints-image}" alt="{title}" class="img-responsive" hide_relative_path="yes"  }
						<p><a href="{title_permalink="prints/"}"><i class="fa fa-link"></i> &nbsp; {title}</a></p>
					{/exp:channel:entries}
				</div>
			</div>
			<h2>Welcome to Roy Houston Photography</h2>
			<p class="lead">{lv_homepageintro}</p>

		</div><!-- /end col -->
	</div><!-- /end main row -->

{lv_footer}