{embed="includes/metadata" default_title="Legal Disclaimer" default_keywords=""default_description="" }
{embed="includes/masthead" }

        <section class="row">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Legal Disclaimer</h1>
            </section>


        <section class="col-md-12">

      	<p>Roy Houston Photography has taken all reasonable care to ensure that the information contained in this website is accurate on the stated date of publication or last modification.</p>
		<p>It is possible that the information may be out of date, incomplete or the opinion of the author. It is advisable that you verify any information from this website before relying on it.</p>
		<p>Roy Houston Photography accepts no responsibility for the consequences of error or for any loss or damage suffered by users of any of the information and material contained on this website or any site you may access through this site.</p>
		<p>Materials contained on this website are subject to copyright and other proprietary rights.</p>

		<h2>Copyright Statement</h2>
		<p>All images contained on this website remain the property of Roy Houston Photography. Images may not be downloaded, reproduced, copied, projected, or used in any way without express written permission. </p>

        </section>
        </section>

{lv_footer}