{embed="includes/metadata" default_title="Privacy Policy" default_keywords="" default_description="" }
{embed="includes/masthead" }

		<section class="row">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Privacy Policy</h1>
            </section>


            <section class="col-md-12">

              	<h2>Internet Privacy and Cookies Policy</h2>
              	<p>At Roy Houston Photography we are committed to safeguarding and preserving the privacy of our visitors. </p>
			<p>This policy explains what happens to any personal data that you provide to Roy Houston Photography, or that we collect from you whilst you visit our site and how we use cookies on this website.</p>
			<p>Roy Houston Photography may update this Policy from time to time so please do review this Policy regularly.</p>

			<h2>Information That We Collect</h2>
			<p>In running and maintaining our website Roy Houston Photography may collect and process the following data about you:</p>
			<ul>
				<li>Information about your use of our site including details of your visits such as pages viewed and the resources that you access. Such information includes traffic data, location data and other communication data.</li>
				<li>Information provided voluntarily by you. For example, when you register for information or make a purchase.</li>
				<li>Information that you provide when you communicate with us by any means.</li>
			</ul>

			<h2>Use of Cookies </h2>
			<p>Cookies provide information regarding the computer used by a visitor. Roy Houston Photography may use cookies where appropriate to gather information about your computer in order to assist us in improving our website.</p>
			<p>Roy Houston Photography may gather information about your general Internet use by using the cookie.  Where used, these cookies are downloaded to your computer and stored on the computer’s hard drive. Such information will not identify you personally. It is statistical data. This statistical data does not identify any personal details whatsoever.</p>
			<p>Our advertisers may also use cookies, over which we have no control.  Such cookies (if used) would be downloaded once you click on advertisements on our website.</p>
			<p>You can adjust the settings on your computer to decline any cookies if you wish.  This can be done within the “setting” section of your computer. For more information please read the advice at AboutCookies.org.</p>

			<h2>Use of Your Information</h2>
			<p>Roy Houston Photography may use the information collected from you to provide our services to you.  In addition to this we may use the information for one or more of the following purposes:</p>
			<ul>
				<li>To provide information to you that you request from us relating to our products or services. </li>
				<li>To provide information to you relating to other products that may be of interest to you. Such additional information will only be provided where you have consented to receive such information.</li>
				<li>To inform you of any changes to our website, services or goods and products.</li>
			</ul>
			<p>If you have previously purchased goods or services from us we may provide to you details of similar goods or services, or other goods and services, that you may be interested in.</p>
			<p>Roy Houston Photography will never give your details to third parties to use your data to enable them to provide you with information regarding unrelated goods and services.</p>

			<h2>Storing Your Personal Data</h2>
			<p>In operating our website it may become necessary to transfer data that we collect from you to locations outside of the European Union for processing and storing. By providing your personal data to us, you agree to this transfer, storing or processing. We do our upmost to ensure that all reasonable steps are taken to make sure that your data is treated stored securely.</p>
			<p>Unfortunately the sending of information via the Internet is not totally secure and on occasion such information can be intercepted. We cannot guarantee the security of data that you choose to send us electronically, sending such information is entirely at your own risk.</p>

			<h2>Disclosing Your Information</h2>
			<p>Roy Houston Photography will not disclose your personal information to any other party other than in accordance with this Privacy Policy and in the circumstances detailed below:</p>
			<ul>
				<li>In the event that we sell any or all of our business to the buyer.</li>
				<li>Where we are legally required by law to disclose your personal information.</li>
				<li>To further fraud protection and reduce the risk of fraud.</li>
			</ul>

			<h2>Third Party Links</h2>
			<p>On occasion we include links to third parties on this website. Where we provide a link it does not mean that we endorse or approve that site’s policy towards visitor privacy. You should review their privacy policy before sending them any personal data.</p>

			<h2>Access to Information</h2>
			<p>In accordance with the Data Protection Act 1998 you have the right to access any information that we hold relating to you. Please note that we reserve the right to charge a fee of £10 to cover costs incurred by us in providing you with the information. </p>

			<h2>Contacting Us</h2>
			<p>Please do not hesitate to contact us regarding any matter relating to this Privacy and Cookies Policy via email at <a href="mailto:enquiries@royhoustonphotography.co.uk">enquiries@royhoustonphotography.co.uk</a></p>

            </section>
        </section>

{lv_footer}