{embed="includes/metadata" default_title="Terms and Conditions" default_keywords="website terms and conditions" default_description="Terms and conditions for visitors to the Mike Curry Photography website" }
{embed="includes/masthead" }

		<section class="row">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Terms and Conditions</h1>
            </section>
        </section>

	<section class="col-md-12">

      	<h2>Print sales terms &amp; conditions</h2>
      	<p>The following terms and conditions apply to all purchases on this website. </p>
	      <ol>
		      <li>Print prices listed are in pounds sterling and inclusive of VAT and UK mainland delivery. Charges for delivery outside of the UK mainland will be quoted on request. Overseas orders can be supplied as print only or mounted but not framed due to prohibitive charges and risk of damages.</li>
		      <li>Confirmation of receipt of your order will be sent to you and prints should normally be delivered within 10 working days of receipt of your order. You will be informed once your prints have been dispatched. Goods will be required to be signed for upon delivery. Any damage must be communicated to us immediately and it is your responsibility to contact us to notify us of any problems you have experienced. If in the unlikely event you are not satisfied with your print please contact us immediately.</li>
		      <li>Sizes shown indicate the dimensions of the image area within the paper.   The image is printed onto oversized paper with a border area around the image. In the case of mounted prints some of the border may be exposed depending upon the paper stock used. Generally with matt papers we leave the border exposed and with gloss papers the border is covered by the mount. Please note all sizes are approximate.</li>
		      <li>Payment can be made on this website by PayPal. If you prefer to pay by other means, please contact us to make arrangements. All images are printed to order and must be paid for in full before being dispatched. Refunds will apply only where the goods are found to be damaged or faulty.</li>
		</ol>


		<h2>Worshop booking terms &amp; conditions</h2>

		<p>The following terms and conditions form your contract with Roy Houston Photography and no alteration of this contract shall be effective unless agreed by both parties in writing.</p>
		<p>Each workshop is designed and taught by Roy Houston ABIPP</p>
		<ol>
			<li>A non-refundable deposit of £100 per person is required at the time of booking and must be sent with the completed booking form. A confirmation will be emailed or posted to you at which time a contract comes into existence between yourself and Roy Houston Photography. Please check your confirmation on receipt and let us know if any information appears to be incorrect. </li>
			<li>The full balance of your booking is due no later than 4 weeks prior to the start of the workshop. If you are booking within 4 weeks of the start date of the workshop please send the full payment with your booking form. Should this payment fail to reach us by the date specified in our confirmation we reserve the right to treat the booking as cancelled and retain the deposit. For one-day workshops the full cost is payable at the time of booking.</li>
			<li>Any cancellation must be made in writing and will only be effective when received by us. Your deposit once paid is not refundable. If you cancel your course within 4 weeks all payments made will be non-refundable. If you re-schedule your course any payments made will be transferred to the new agreed course date.</li>
			<li>We reserve the right to cancel or make changes to any workshop. We will notify you as soon as possible if this happens. Should a cancellation or change become necessary you will then have the choice of booking an alternative workshop or receiving a full refund of all monies paid to us. No liability beyond offering the above choices can be accepted where we are forced to make a change or cancel as a result of unforeseeable circumstances beyond our control or if we cancel as a result of your failure to comply with the requirement of these booking conditions.</li>
			<li>The agreed itinerary should be taken as an outline for the workshop and may be changed due to weather conditions. It is not a contractual obligation on the part of Roy Houston Photography.</li>
			<li>It is a term of the contract that you will obtain appropriate travel insurance cover for the duration of the workshop. The insurance must cover the loss, expenses and damages arising from, the cancellation of the workshop, in whole or in part, personal accident and injury, medical and repatriation costs, loss of baggage and personal money and belongings and travel cancellations and delays.</li>
			<li>Roy Houston Photography does not accept responsibility for any loss of valuables, including camera equipment, during the workshop.</li>
			<li>Roy Houston Photography does not accept responsibility or liability for death, bodily injury or illness caused to you, unless arising from the negligent act and/or omission on our part. </li>
			<li>Roy Houston Photography cannot accept liability if you suffer any damage, loss or expense of any nature as a result of "force majeure", meaning any event which we could not foresee or avoid. Such events may include, war, riot, civil strife, terrorist activity, industrial dispute, natural or nuclear disaster, adverse weather conditions, fire, epidemics / pandemics and all similar events outside our control.</li>
			<li>If you have special dietary or other requests, or if you have any medical condition or disability which may affect your participation in your chosen workshop, you should inform us of these in writing at the time of booking. </li>
			<li>You must communicate any perceived failure of the workshop whilst in attendance, thus giving us the opportunity to achieve a solution. Should this not be possible for any reason, your complaint must be made in writing to us within 28 days after the finish date of the workshop.</li>
			<li>You accept responsibility for any damage or loss caused by you. You will also be responsible for meeting any claims subsequently made against us and all costs incurred by us including legal costs as a result of your actions. You should ensure you have appropriate travel insurance to protect you if this situation arises.</li>
			<li>Access to and use of any information on this website is conditional on your acceptance of our terms and conditions. All bookings of workshop arrangements are also subject to our terms and conditions. Please read them carefully and print a copy of them for your future reference.</li>
			<li>By signing the booking form, you are agreeing to accept all the above conditions. The person who signs the booking form (who must be at least 18) does so on behalf of all the individuals included on it, so that all are bound by the booking conditions.</li>


	</section>


{lv_footer}