{embed="includes/metadata" default_title="Commercial Photography" default_keywords="" default_description="" }
{embed="includes/masthead" }


{exp:md_detect_page_type url_segment="{segment_2}"}

        {if segment_2 != ""}

        <section class="row main">
            <section class="col-sm-12 col-md-8 col-lg-8">

                {exp:channel:entries channel="{my_channel}" orderby="date" cache="yes" refresh="60" limit="1" sort="desc" disable="{pv_disable_all}"}
                <h1>{title}</h1>
                <section class="row">
                    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {comm-story}
                        {exp:playa:children field="comm-recommendation"}
                            <p class="blockquote">"{rec-story}"</p>
                            <p class="caption left">&mdash; {rec-author}</p>
                        {/exp:playa:children}
                    </section>
                </section>
                <section class="row">
                    {commission-imagery limit="5" sort="asc" }
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-6 com-image">
                        <a data-rel="example_group" href="{com-img}" title="{title}">{exp:ce_img:single src="{com-img}"  alt="{com-desc}" hide_relative_path="yes" class="img-responsive"  }</a>
                    </section>
                    {/commission-imagery}
                </section>
                {/exp:channel:entries}

            </section>

            <section class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 ">
                <section class="row">
                    <section class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <h2>Other Commissions</h2>
                        <ul class="sublist">
                            <li {if segment_3 == ""} class="active" {/if}><a href="{path=/commercial}" title="{title}" >All Commercial Photography</a></li>
                            {exp:channel:entries channel="{my_channel}" cache="yes" refresh="60" orderby="date" sort="desc" limit="10" disable="{pv_disable_notcat}" dynamic="off" }
                            <li {if url_title == segment_3} class="active" {/if}><a href="{title_permalink=commercial/client}" title="{title}" >{title}</a></li>
                            {/exp:channel:entries}
                        </ul>
                    </section>
                    {mailinglist}
                </section>
            </section>
        </section>


        {if:else}

        <section class="row">
                <section class="col-sm-12 col-lg-12">
                        <div class="page-header">
                                <h1>Commercial Work <small>commissions by Roy</small></h1>
                        </div>
                </section>
                <section class="col-sm-12 col-lg-8">
                    {lv_commercialintro}

                    <section class="row">
                        <section class="col-sm-6">
                            <h2>Commissions</h2>
                            {exp:channel:entries channel="commercial" limit="1"}
                                {comm_images limit="1" sort="random"}
                                    {exp:ce_img:single src="{comm-img}" alt="{title}" class="img-responsive" hide_relative_path="yes"  }
                                {/comm_images}
                            {/exp:channel:entries}

                        </section>



                        <section class="col-sm-6">
                            <h2>Wedding Photography</h2>
                            {exp:channel:entries channel="commercial" limit="1"}
                                {comm_images limit="1" sort="random"}
                                    <a href="http://royhoustonphotography.queensberryworkspace.com">{exp:ce_img:single src="{comm-img}" alt="{title}" class="img-responsive" hide_relative_path="yes"  }</a>
                                {/comm_images}
                            {/exp:channel:entries}

                        </section>
                    </section>





                </section>
                <section class="col-sm-12 col-lg-3 col-lg-offset-1">

                    <h2>Benefits</h2>
                    <ul>
                        <li>BIPP Qualified Photographer</li>
                        <li>Fully Insured</li>
                        <li>Diversified Career</li>
                        <li>Extensive Experience</li>
                        <li>Scottish West Highlands Location</li>
                    </ul>

                    <h2>List of Clients</h2>
                    <ul>
                        <li>Glencoe House Hotel</li>
<li>Highlands and Islands Enterprise</li>
<li>Vodafone</li>
<li>Scottish Industrial and Trade Exhibitions</li>

                    </ul>
                </section>
        </section>

         {/if}

        {/exp:md_detect_page_type}

{lv_footer}