/* ==========================================================================
   Custom styles
========================================================================== */

/*
Etheya Digital Creativity Ltd
Brian Coult
http://www.etheya-digitalcreativity.com
*/

body  {
  color: #848688;
  font-family: "proxima-nova",sans-serif;
  color: #c0c0c0;
  font-weight: 300;
  padding-top: 30px;
}

header {

  margin-bottom: 40px;

}

footer {
margin-top: 120px;
padding-bottom: 30px;
background: #23262a;
padding-top: 40px;
}


.client {

}

.spacer-top {
  margin-top: 40px;
}
.spacer-top-small {
  margin-top: 10px;
}


.spacer-bottom {
  margin-bottom: 40px;
}

.spacer-bottom-small {
  margin-bottom: 10px;
}



/* Logo */
/*****************************************/

.logo {
  font-size: 40px;
  color: #fff;
  font-family: "ff-enzo-web",sans-serif;
  margin-bottom: 40px;
}

legend {
border: none;
}


/* Typography */
/*****************************************/

h1, h2, h3 {
font-family: "jaf-facitweb",sans-serif;
font-weight: 600;
  color: #fff;
text-shadow: none

}

h1 {
font-size: 34px;
margin-top: 0;
padding-top: 0;
}

h2 {
font-size: 24px;
color: #cddcdf;
}

h3 {
font-size: 20px;
color: #e3e3e3;
}

h4 {
}

h1 small {
}

p {

}

ul {
}

li {
}

.badge {
}

blockquote,
blockquote.pull-right {
 border-color: #fff;
}

.page-header {
border: none
}

/* Image styles */
/*****************************************/

img {
/*border-bottom: 10px solid #adb2b5;*/
/*border-bottom: 10px solid #23262a;*/


}

img:hover {
/*border-bottom: 10px solid #fff;*/
cursor: pointer;
}


.border {
  border: 8px solid;
  border-color: rgba(100,100,100, .2);
  margin: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.border:hover {
  border-color: rgba(100,100,100, .6);
}

/* ICONS */

i.fa  {
  color: #fff
}

.nav i.fa {
color: #4a4e54;
}

nav i.fa:hover {
 color: #fff;
}

.fa-facebook-square:hover,
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter-square:hover,
.fa-twitter:hover {
  color: #00acee;
}
.fa-linkedin-square:hover {
  color: #0e76a8;
}
.fa-instagram:hover {
  color: #3f729b;
}


.homeimage p {
position: absolute;
z-index: 1000;
background: rgba(0,0,0,.3);
right: 15px;
top: 40px;
padding: 10px 20px 10px 16px;
}



/* Links */
/*****************************************/

a:link,
a:visited {
  color: #cd5c5c;
  color: #F5F3EE;
  color: #fff;
}

a:visited:hover,
a:hover {
  color: #669999;
  color: #cd5c5c;
  text-decoration: none;
}

.pagination a:link,
.pagination a:visited {
}


h2 a:link,
h2 a:visited {

}

h2 a:visited:hover,
h2 a:hover {
  color: #f0626a;
}

h3 a:link,
h3 a:visited {
}

h3 a:visited:hover,
h3 a:hover {
}

footer a:link,
footer a:visited {
}
footer a:hover,
footer a:visited:hover {
}

.basket a:link,
.basket a:visited {
}

.basket a:visited:hover,
.basket a:hover {
}

/* Pagination */
/*****************************************/
.paginatelinks {
  clear: both;
  padding-top: 40px;
}
.paginatelinks p {
  margin: 0;
  line-height: 8px
}


/* Navigation */
/*****************************************/


.navbar {
background: transparent;
border: none;
font-size: 19px;
border-radius: 0px;
}

.navbar {
padding: 0;
margin:0;


}
.nav{
}

.navbar-nav  li > a {
  color: #4a4e54;
  border: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
color: #fff;
background: none;

}


.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #fff;
}

.navbar .nav .navbar-nav > li > a {
color: ff6600;
}




/* Prints */
/****************************************/
.print {
  margin-top: 50px;
}
.psearch {
  background: #020202;
  padding-bottom: 20px;
  margin: 10px 0;
}

.thumbnail {
  background: none;
}

.thumbnail.prints {
border: none;
    margin: 0;
padding-bottom: 0;
background: none;
}

.prints h2 {
  font-family: "proxima-nova",sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 6px;

}

.price {
  color: #fff;
  font-size: 20px;
}

.like {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
}

.fb-like {
  margin-right: 5px;
}
.thumbnail .caption p{

}

.well {
  border: none;
background: #35393f
}


.category {
border: none;
}

.category img {
  margin-bottom: 20px;
}

/* Forms */
/****************************************/

label {
  font-weight: normal;
}


/* Tables */
/****************************************/

.table {
  margin-bottom: 40px;
  margin-top: 20px;
  text-transform: capitalize;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #1c1e1f;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #1c1e1f;
}





/* Buttons */
/****************************************/


.btn-default {
}

.btn-primary {
}

.btn[disabled] {
}


@media screen and (max-width: 1024px) {
      .prints .thumbnail {
        min-height: 380px;
      }
   }

@media screen and (max-width: 768px) {
      footer p {
        text-align: center;
      }
      .prints .thumbnail {
        min-height: 300px;
      }

   }

@media screen and (max-width: 420px) {
      .pages {
        text-align: left;
        margin-top: -10px
      }
      .portfolio .thumbnail {
        padding-right: 0px;
        min-height: 100px;
      }
      .prints .thumbnail {
        padding-right: 0px;
        min-height: 100px;
      }
      .prevnext {
        margin-bottom: 10px;
      }
      .navbar .nav,
      .navbar .nav > li {
        float:left;
        font-family: "museo-1","museo-2",serif; font-weight: 300;
        font-size: 15px;
      }
      .navbar-inverse {

        border: none;
        text-align:left;
      }
      .prints .thumbnail {
        min-height: 300px;
      }
   }

