{preload_replace:my_channel="client_commissions"}
{preload_replace:my_template_group="clients"}

{embed="includes/metadata" default_title="Client Log In" default_keywords="" default_description="" }
{embed="includes/masthead" }


		{if logged_in}
			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>Your Commissions <small></small></h1>
				{exp:zoo_visitor:details}
				<section class="row">
					<section class="col-lg-10">
						<p>Below you will find all the commissions that are assigned to you.</p>
					</section>
					<section class="col-lg-2">
						<a href="{path=logout}"><button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user fa-lg"></i> &nbsp; Log Out</button></a>
					</section>
				</section>
				<section class="row">
					{exp:zoo_plus:entries parent_id="{entry_id}" field="member-clientcommissions" orderby="date" order="desc" limit="9" }
						<section class="col-sm-6 col-md-4 col-lg-4 portfolio">
							<section class="thumbnail">
	  							<section class="caption">
	  								<h2><a href="{entry:title_permalink="clients/"}">{entry:title}</a></h2>
									<p>{entry:cw-date format=' %j%S %F %Y'}</p>
	  								{entry:cw-images limit="1"}
									<a href="{entry:title_permalink="clients/"}">{exp:ce_img:single src="{cw-img}" alt="{title}" hide_relative_path="yes" class="img-responsive" }</a>
									{/entry:cw-images}
									{entry:cw-description}
									<p><a href="{entry:title_permalink="clients"}">View commission &rarr;</a></p>
								</section>
							</section>
						</section>
					{/exp:zoo_plus:entries}
				</section>
				{/exp:zoo_visitor:details}
			</section>
		{if:else}

      		<section class="row">
                <section class="col-sm-12 col-lg-12">
                        <div class="page-header">
                            <h1>Clients <small>Log in</small></h1>
                        </div>
                </section>

                <section class="col-sm-12 col-lg-12 text-center">
                	<p>Please Log in to access your account and view your images.</p>

                	<section class="row spacer-top">
					{exp:member:login_form return='/clients' role="form"}
						<div class="form-group col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 ">
							<input type="email" name="username" class="form-control" placeholder="Username/Email" id="username" value="{if email}{email}{/if}" />
						</div>
						<div class="form-group col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 ">
							<input type="password" name="password" class="form-control" placeholder="Password" id="password" value="{if password}{password}{/if}" />
						</div>
						<div class="form-group col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
							<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user fa-lg"></i> &nbsp; Log In</button>
						</div>
					{/exp:member:login_form}
				</section>
				</section>
                <!--<section class="col-sm-12 col-lg-3 col-lg-offset-1">
                        {exp:ce_img:single src="/assets/img/content/prints/GraniteandIce1w.jpg" alt="{title}" class="img-responsive" hide_relative_path="yes"  }
                </section>-->
			</section>





		{/if}


{lv_footer}