{preload_replace:my_channel="events"}
{preload_replace:my_template_group="clients"}

{embed="includes/metadata" default_title="Client Log In" default_keywords="clients, mike curry photography, events" default_description="Client log in page to view your commissioned password protected images" }
{embed="includes/masthead" }

	<section class="row main">

	{exp:md_detect_page_type url_segment="{segment_2}"}

	{if segment_2 == ""}

		{if logged_in}
			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>Your Commissions <small></small></h1>
				{exp:zoo_visitor:details}
				<section class="row">
					<section class="col-lg-10">
						<p>Below you will find all the commissions that are assigned to you.</p>
					</section>
					<section class="col-lg-2">
						<a href="{path=logout}"><button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user fa-lg"></i> &nbsp; Log Out</button></a>
					</section>
				</section>
				<section class="row">
					{exp:zoo_plus:entries parent_id="{entry_id}" field="member-clientcommissions" orderby="date" order="desc" limit="9" }
						<section class="col-sm-6 col-md-4 col-lg-4 portfolio">
							<section class="thumbnail">
	  							<section class="caption">
	  								<h2><a href="{entry:title_permalink="clients/"}">{entry:title}</a></h2>
									<p>{entry:cw-date format=' %j%S %F %Y'}</p>
	  								{entry:cw-images limit="1"}
									<a href="{entry:title_permalink="clients/"}">{exp:ce_img:single src="{cw-img}" alt="{title}" hide_relative_path="yes" class="img-responsive" }</a>
									{/entry:cw-images}
									{entry:cw-description}
									<p><a href="{entry:title_permalink="clients"}">View commission &rarr;</a></p>
								</section>
							</section>
						</section>
					{/exp:zoo_plus:entries}
				</section>
				{/exp:zoo_visitor:details}
			</section>
		{if:else}
			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>Clients Log In</h1>
				<p>Please Log in to access your account and view your commissioned images.</p>

				<section class="row client">
					{exp:member:login_form return='/clients' role="form"}
						<div class="form-group col-xs-12 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-4 text-right">
							<input type="email" name="username" class="form-control" placeholder="Username/Email" id="username" value="{if email}{email}{/if}" />
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-4 text-right">
							<input type="password" name="password" class="form-control" placeholder="Password" id="password" value="{if password}{password}{/if}" />
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-2 col-lg-offset-5">
							<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user fa-lg"></i> &nbsp; Log In</button>
						</div>
					{/exp:member:login_form}
				</section>
			</section>
		{/if}


	{if:else}

		{if logged_in}

			{exp:channel:entries channel="commissionedwork" orderby="date" sort="desc" cache="yes" refresh="30" limit="1" disable="{pv_disable_notpag}" paginate="bottom"}

			<h1>{title} <small>Commission</small></h1>

			<section class="row">
				<section class="col-lg-10">
					<h2>{cw-date format=' %j%S %F %Y'}</h2>
					<p>Location: {cw-location}</p>
					{cw-description}
				</section>
				<section class="col-lg-2 log">
					<a href="{path=logout}"><button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user fa-lg"></i> &nbsp; Log Out</button></a>
					<a href="{path=clients/}"><button type="button" class="btn btn-default btn-block"><i class="fa fa-arrow-circle-left fa-lg"></i> &nbsp; Your Commissions</button></a>
				</section>
			</section>


			{exp:channel:entries channel="{my_channel}" orderby="date" limit="16" sort="desc" disable="{pv_disable_fdata}" status="open|homepage"}
			<section class="row">
				{cw-images}
					<section class="col-sm-6 col-md-3 col-lg-3 prints">
						<section class="thumbnail">

								<a rel="example_group" href="{cw-img}" title="{title}" alt="{title}">{exp:ce_img:single src="{cw-img}" alt="{title}" class="img-responsive" }</a>

  							<section class="caption">
								{if cw-title}<h2>{cw-title}</h2>{/if}
								{if cw-ref}<p>Ref: {cw-ref}</p>{/if}
							</section>
						</section>
					</section>
				{/cw-images}



			</section>
			{/exp:channel:entries}

		{if:else}

			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>Clients Log In</h1>
				<p>Please Log in to access your account and view your commissioned images.</p>

				<section class="row client">
					{exp:member:login_form return='/clients' role="form"}
						<div class="form-group col-xs-12 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-4 text-right">
							<input type="email" name="username" class="form-control" placeholder="Username/Email" id="username" value="{if email}{email}{/if}" />
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-4 text-right">
							<input type="password" name="password" class="form-control" placeholder="Password" id="password" value="{if password}{password}{/if}" />
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-2 col-lg-offset-5">
							<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user fa-lg"></i> &nbsp; Log In</button>
						</div>
					{/exp:member:login_form}
				</section>
			</section>

		{/if}

	{/if}

	{/exp:md_detect_page_type}

	</section>

{lv_footer}