{embed="includes/metadata" default_title="Biography" default_keywords="" default_description="" }
{embed="includes/masthead" }


	<section class="row">
		<section class="row homeimage">

			<section class="col-sm-12 spacer-bottom">
				{exp:low_variables:pair var="lv_biography_topimage" var_prefix="assets"}
				  <img src="{assets:url}" width="{assets:width}" height="{assets:height}" alt="{assets:alt_text}" class="img-responsive"  >
				{/exp:low_variables:pair}
			</section>
		</section>

		<section class="col-sm-12 col-lg-12">
			<div class="page-header">
				<h1>Biography <small>about Roy</small></h1>
			</div>
		</section>

		<section class="col-sm-12 col-lg-8">
			{lv_biography}
		</section>

		<section class="col-sm-12 col-lg-3 col-lg-offset-1">
			<div class="row">
				<div class="col-sm-12 col-md-12">
			{exp:low_variables:pair var="lv_biopic" var_prefix="assets"}
  				{exp:ce_img:single src="{assets:url}" alt="{title}" class="img-responsive" hide_relative_path="yes"  }
			{/exp:low_variables:pair}
				</div>
			</div>
		</section>
	</section>

{lv_footer}