{embed="includes/metadata" default_title="Workshop Booking Enquiry" default_keywords="" default_description="" }
{embed="includes/masthead" }

	<div class="row">
		<div class="row homeimage">
			<div class="col-sm-12 spacer-bottom">
				{exp:low_variables:pair var="lv_workshopbooking_topimage" var_prefix="assets"}
				  <img src="{assets:url}" width="{assets:width}" height="{assets:height}" alt="{assets:alt_text}" class="img-responsive"  >
				{/exp:low_variables:pair}
			</div>
		</div>

		<div class="col-sm-12 col-lg-12">
	{if segment_3 == "thank-you"}
			<div class="page-header">
				<h1>Thank you <small>workshops</small></h1>
			</div>
		</div>
		<div class="col-sm-12 col-lg-8">
			<p>{lv_contact-thankyou}</p>
	{if:else}
			<div class="page-header">
				<h1>Workshop Enquiry <small>get in touch</small></h1>
			</div>
		</div>
		<div class="col-sm-12 col-lg-8">


			<p>Please use the form below to tell us about yourself and indicate your preferred dates for attending a workshop. Please also tell us if you are interested in a one day course or a residential stay over more days.</p>
			<p>We will respond shortly to confirm if your dates are available and to offer some further information about the facilities we can provide for you.</p>
			<p>Please fill in the form below for further information (<em>*</em> required):</p>
			<div class="row spacer-top">
				<div class="col-md-11 col-lg-11">
					<div class="well well-lg">
						{exp:freeform:form form_id="3" return="residential-workshops/booking/thank-you" notify="{lv_emailaddress}" template="contact_form" role="form" }
						<fieldset>
							<div class="form-group">
								<label for="name">Name</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
									<input type="text" class="form-control" name="name" id="name" class="require" />
								</div>
							</div>
							<div class="form-group">
								<label for="address">Address</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-building-o fa-fw"></i></span>
									<input type="text" class="form-control" name="address" id="address" />
								</div>
							</div>
							<div class="form-group">
								<label for="telephone">Telephone</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
									<input type="text" class="form-control" name="telephone" id="telephone" />
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email address</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
									<input type="email" class="form-control" id="email" name="email" class="require_email require" />
								</div>
							</div>
							<div class="form-group">
								<label for="enquiry">When would you like to come</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
									<textarea class="form-control" rows="6" class="user_message" name="user_message"></textarea>
								</div>
							</div>
							<button type="submit" class="btn btn-success">Submit Your Booking Request</button>
						</fieldset>
						{/exp:freeform:form}
					</div>
				</div>
			</div>
	{/if}
		</div>
		<section class="col-sm-12 col-md-3 col-md-offset-1">
			{lv_workshopmenu}
			{lv_testimonials}
		</section>
	</div>

{lv_footer}