{embed="includes/metadata" default_title="Tuition" default_keywords="tuition, groups, photography personalised, greenwich, london, trips, brighton, camera, digital camera" default_description="Having over 25 years experience in his career as a photographer with a wide-ranging  portfolio including landscape, portraits, Mike provides a personalised tuition service to insectioniduals and groups" }
{embed="includes/masthead" }

	<section class="row">
		<section class="row homeimage">
			<section class="col-sm-12 spacer-bottom">
				{exp:low_variables:pair var="lv_workshop_topimage" var_prefix="assets"}
				  <img src="{assets:url}" width="{assets:width}" height="{assets:height}" alt="{assets:alt_text}" class="img-responsive"  >
				{/exp:low_variables:pair}
			</section>
		</section>

		<section class="col-sm-12 col-md-12">
			<div class="page-header">
				<h1>FAQ's <small>residential workshops</small></h1>
			</div>
		</section>

		<section class="col-sm-12 col-md-8">

			{exp:channel:entries channel="faq" limit="1" }
				{faq_list}
					<h2>{faq_list:faq_question}</h2>
					<p>{faq_list:faq_answer}</p>
				{/faq_list}
			{/exp:channel:entries}

		</section>

		<section class="col-sm-12 col-md-3 col-md-offset-1">
			{lv_workshopmenu}
			{lv_testimonials}
		</section>
	</section>

{lv_footer}