{embed="includes/metadata" default_title="Tuition" default_keywords="tuition, groups, photography personalised, greenwich, london, trips, brighton, camera, digital camera" default_description="Having over 25 years experience in his career as a photographer with a wide-ranging  portfolio including landscape, portraits, Mike provides a personalised tuition service to individuals and groups" }
{embed="includes/masthead" }

	<div class="row">
		<div class="row homeimage">

			<div class="col-sm-12 spacer-bottom">
				{exp:low_variables:pair var="lv_workshop_topimage" var_prefix="assets"}
				  <img src="{assets:url}" width="{assets:width}" height="{assets:height}" alt="{assets:alt_text}" class="img-responsive"  >
				{/exp:low_variables:pair}
			</div>
		</div>

		<div class="col-sm-12 col-lg-12">
			<div class="page-header">
				<h1>Residential Workshops <small>learn with Roy</small></h1>
			</div>
		</div>

		<div class="col-sm-12 col-lg-8">
			<p>{lv_workshopsintro}</p>

			<h2>Teaching Experience</h2>
			{lv_workshops_experience}

			<h2>Qualifications</h2>
			{lv_workshops_qualifications}

			<h2>The Course</h2>
			{lv_workshops_course}
			<!-- <p><a href="{path=/residential-workshops/workshops}">See what is on offer here  <i class="fa fa-arrow-circle-right"></i></a></p> -->

			<h2>Come for a Day</h2>
			{lv_workshops_day}

			<h2>Stay in our Home</h2>
			{lv_workshops_home}
		</div>

		<div class="col-sm-12 col-lg-3 col-lg-offset-1">
			{lv_workshopmenu}
			{lv_testimonials}
		</div>
	</div>

{lv_footer}