{embed="includes/metadata" default_title="Contact" default_keywords="" default_description="" }
{embed="includes/masthead" }

	<div class="row">
		<div class="row homeimage">
			<div class="col-sm-12 spacer-bottom">
				{exp:low_variables:pair var="lv_contact_topimage" var_prefix="assets"}
				  <img src="{assets:url}" width="{assets:width}" height="{assets:height}" alt="{assets:alt_text}" class="img-responsive"  >
				{/exp:low_variables:pair}
			</div>
		</div>

		<div class="col-sm-12 col-lg-12">
	{if segment_2 == "thank-you"}
			<div class="page-header">
				<h1>Thank you <small>contact</small></h1>
			</div>
		</div>
		<div class="col-sm-12 col-lg-8">
			<p>{lv_contact-thankyou}</p>
	{if:else}
			<div class="page-header">
				<h1>Contact Details <small>get in touch</small></h1>
			</div>
		</div>
		<div class="col-sm-12 col-lg-8">

			<p>{lv_contactintro}</p>
			<p>Please fill in the form below for further information (<em>*</em> required):</p>
			<div class="row spacer-top">
				<div class="col-md-11 col-lg-11">
					<div class="well well-lg">
						{exp:freeform:form form_id="1" return="contact/thank-you" notify="{lv_emailaddress}" template="contact_form" role="form" }
						<fieldset>
							<div class="form-group">
								<label for="name">Name</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
									<input type="text" class="form-control" name="name" id="name" class="require" />
								</div>
							</div>
							<div class="form-group">
								<label for="company">Company</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-building-o fa-fw"></i></span>
									<input type="text" class="form-control" name="company" id="company" />
								</div>
							</div>
							<div class="form-group">
								<label for="telephone">Telephone</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
									<input type="text" class="form-control" name="telephone" id="telephone" />
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email address</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
									<input type="email" class="form-control" id="email" name="email" class="require_email require" />
								</div>
							</div>
							<div class="form-group">
								<label for="enquiry">Your Enquiry Details</label>
								<div class="input-group margin-bottom-sm">
									<span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
									<textarea class="form-control" rows="6" class="user_message" name="user_message"></textarea>
								</div>
							</div>
							<button type="submit" class="btn btn-success">Submit Your Enquiry</button>
						</fieldset>
						{/exp:freeform:form}
					</div>
				</div>
			</div>
	{/if}
		</div>
		<div class="col-sm-12 col-lg-3 col-lg-offset-1">
			<div class="row">
				<div class="col-sm-12">
					<h3>General Enquiries</h3>
					<p>Mobile: {lv_mobile}
					<br />Office: {lv_telephone}
					<br />Email: <a href="mailto:{lv_emailaddress}">{lv_emailaddress}</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{lv_mailinglist}
				</div>
			</div>
		</div>
	</div>

{lv_footer}